.tarolo{
    max-width: 800px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tarolo h1{
    font-weight: lighter;
}
.tarolo h2{
    font-weight: lighter;
    font-size: 18px;
}
.fejlec{
    background-image: url(images/hero.jpg);
    background-size: cover;
    height: 600px;
    color: #ffffff;
    background-position: bottom;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 780px;
}
.menu ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:0px;
    padding-left: 0px;
}
.menu li{
    padding: 10px;
    margin: 0px;
}
#menupont1:hover{
    background-color: white;
    color: black;
}
#menupont2:hover{
    background-color: white;
    color: black;
}
.menu{
    padding:20px; 
    height: 100px;
}
.menu ul a{
    text-decoration: none;
}
#menupont1{
    background-color: #CB7006;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    margin: auto;
    color: #ffffff; 
    height: fit-content;  
}
#menupont2{
    background-color: #CB7006;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    color: #ffffff; 
}
.gomb1{
    background-color: #CB7006;
    border-radius: 30px;
    padding: 20px 50px 20px 50px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
}
.gomb1:hover{
    background-color: white;
    color: black;
}
.fejlec p{
    color:#ffffff65;
    padding: 10px 10px 30px 10px;
}

/*MÁSODIK DIV*/
.masodik{
    background-color: rgb(28, 28, 28);
    width: 100%;
    max-width:fit-content;
    margin: auto;
    padding: 10px 10px 30px 10px;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.masodikMenu ul{
    list-style-type: none;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}
.masodikMenu{
    padding:20px;
}
.masodikMenu ul a{
    text-decoration: none;
}
.masodikFejlec{
    margin: 20px;
}
.masodikFejlec p{
    color: gray;
    padding: 10px 10px 50px 10px;
}
.fejlecCim{
    padding: 10px;
    padding-top: 40px;
    margin: 0px;
}
#gomb2{
    background-color: #CB7006;
    border-radius: 30px;
    padding: 20px 100px 20px 100px;
    margin: auto;
    color: #ffffff;  
    font-size: 20px;
}
#gomb2:hover{
    background-color: white;
    color: black;
}

/*harmadik div*/
.harmadikKepek{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.harmadikKepek h1{
    margin-bottom: 0px;
    font-size: 22px;
}
.norveg img{
    border-radius: 30px;
    max-width: 300px;
}
.maincoon img {
    border-radius: 30px;
    max-width: 300px;
}
.harmadik {
    background-color: rgb(28, 28, 28);
    width: 100%;
    max-width:fit-content;
    margin: auto;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
.harmadikFejlec ul{
    text-align: left;
}
#lista{
    color: gray;
}
.harmadikFejlec li{
    color: white;
}
.harmadikFejlec p{
    color: gray;
}
.harmadikFejlec{
    margin: 20px;
}
/*negyedik div*/
.negyedikKepek{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.negyedikKepek h1{
    margin-bottom: 0px;
    font-size: 22px;
    color: white;
}
.bengali img{
    border-radius: 30px;
    max-width: 300px;
}
.megez img {
    border-radius: 30px;
    max-width: 300px;
}
.negyedik {
    background-color: rgb(28, 28, 28);
    width: 100%;
    max-width:fit-content;
    margin: auto;
    padding: 10px 0px 10px 0px;
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
.negyedik h1{
    color: white;
}
.negyedikFejlec ul{
    text-align: left;
    color: white;
}
.negyedikFejlec{
    margin: 20px;
}

/*ötödik div*/
.otodik {
    background-color: rgb(28, 28, 28);
    width: 100%;
    max-width:fit-content;
    margin: auto;
    padding: 10px 0px 10px 0px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
.otodikTartalom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    
}
.otodikFejlec h1{
    font-size: 28px;
    color: #ffffff;
}
.hal{
    background-color: #ffffff;
    border-radius: 15px;
    width: 320px;
    max-width: 320px;
    height: 320px;
    margin-right: 30px;
    text-align: left;
    padding: 10px;
}
.hal img{
    width: 90px;
    height: 80px;
    margin: 10px 0px 0px 10px;
}
.eger img{
    width: 90px;
    height: 80px;
    margin: 10px 0px 0px 10px;
}
.eger{
    background-color: #ffffff;
    border-radius: 15px;
    width: 320px;
    max-width: 320px;
    height: 320px;
    margin-left: 30px;
    text-align: left;
    padding: 10px;
}
.eger h1{
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}
.hal h1{
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}
.hal p{
    padding-bottom: 10px;
}
#gomb3{
    background-color: #CB7006;
    border-radius: 30px;
    padding: 20px 100px 20px 100px;
    color: #ffffff;  
    font-size: 20px;
    text-decoration: none;
    border: 3px solid #CB7006;
}
.gomb3{
    margin: 35px 0px 0px 25px;
}
#gomb3:hover{
    background-color: white;
    color: black;
}
/*hatodik div*/
.hatodik {
    background-color: rgb(28, 28, 28);
    width: 100%;
    max-width:fit-content;
    margin: auto;
    padding: 10px 0px 30px 0px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
.hatodikTartalom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    
}
.hatodikFejlec h1{
    font-size: 28px;
    color: #ffffff;
}
.vetelkedo{
    background-color: #3c3c3c;
    border-radius: 15px;
    border: 4px solid #7d7c7c;
    width: 312px;
    max-width: 312px;
    height: 312px;
    margin-right: 30px;
    text-align: left;
    padding: 10px;
}
.show{
    background-color: #3c3c3c;
    border-radius: 15px;
    border: 4px solid #7d7c7c;
    width: 312px;
    max-width: 312px;
    height: 312px;
    max-height: 340px;
    margin-left: 30px;
    text-align: left;
    padding: 10px;
}
.show h1{
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}

.show p{
    padding-bottom: 10px;
}
.vetelkedo h1{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}
#gomb5{
    background-color: #3c3c3c;
    border-radius: 30px;
    padding: 20px 80px 20px 80px;
    color: #ffffff;  
    font-size: 20px;
    text-decoration: none;
    border: 3px solid #CB7006;
}
#gomb4{
    background-color: #3c3c3c;
    border-radius: 30px;
    padding: 20px 60px 20px 60px;
    color: #ffffff;  
    font-size: 20px;
    text-decoration: none;
    border: 3px solid #CB7006;
}
.gomb4{
    margin: 35px 0px 0px 25px;
}
#gomb4:hover{
    background-color: #CB7006;
    color: black;
}
#gomb5:hover{
    background-color: #CB7006;
    color: black;
}
.gomb5{
    margin: 35px 0px 0px 25px;
}